@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 16px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #2D3748;
  border-radius: 0 8px 8px 0;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fde047;
  border-radius: 8px;
  border: 2px solid #2D3748;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #fef08a;
}
.shadow-up-xl {
  box-shadow: 0 -20px 25px -5px rgba(0, 0, 0, 0.1), 0 -10px 10px -5px rgba(0, 0, 0, 0.04);
}